.mainbox {
  background-color: #323232;
  border-radius: 7px;
}

input {
  text-align: center;
}

.btn-primary:hover {
  color: #007bff;
  background-color: #fff;
  border-color: #fff;
}

.btn-success:hover {
  color: #28a745;
  background-color: #fff;
  border-color: #fff;
}

.big-font {
  font-size: 150%;
}
